* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maindiv {
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 162, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.text-box {
    height: 100px;
    width: 100px;
    border: 2px black solid;
    border-radius: 50%;
    display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.438);
        
        
        
}

.Ptext {

    padding: 15px;
    
    font-size: 50px;
}
.lastdiv{
    height: 20vh;
    width: 100vw;
    background: red;
    position: absolute;
    bottom: 0;
clip-path: polygon(50% 60%, 75% 0, 100% 0, 100% 99%, 0 100%, 0 0, 25% 0);
}
.companyName{
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}